:root {
    /*  Farben  */
    --color-bg:#fffffc;
    --color-text: #595959ff;
    --color-accent:  #852f20;
    --color-accent-secondary: #a77f19;
    --color-border: #484f4a;

    /*   Typografie  */

   --font-base: system-ui , sans-serif;
   --font-size-base: 1.125rem;
   --line-height-base: 1.6;

   /* Abstände ( konsistente Skala)  */
   --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 3rem;
    --space-xl: 5rem;

    /* sonstiges */
    --radius: 4px;
    --max-width: 42rem;
}


body{
    background-color: var( --color-bg);
    color: var( --color-text);
    font-family: var( --font-base);
    font-size: var( --font-size-base);
    line-height: var( --line-height-base);
    max-width: var( --max-width);
    margin: 0 auto;
    padding: var( --space-xl);

}

a:link {
  color: var( --color-accent);
  /*background-color: transparent;*/
  text-decoration: none;
}

a:visited {
  color: var( --color-accent-secondary);
  /*background-color: transparent;*/
  text-decoration: none;
}

a:hover {
  color: #b66d6d;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #808042;
  background-color: transparent;
  text-decoration: underline;
}
/* Navigation */
nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    padding: ;
}

nav a {
    text-decoration: none;
}

.calculator {
   /* background-color: rgb(162, 158, 158);
    padding: 1rem;
    width: 300px;
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    line-height: 1.5;  */ 
}

input[type="number"],
input[type="text"],
button,
#ergebnis{
    font-size: 16px; /* verhindert zoomsprung bei ios */
    width: 100%;
    padding: 0.5rem;
    max-width: 300px;
    /* margin-bottom: 1rem; */
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    box-sizing: border-box;
    display: block;
    margin-bottom: 0.5rem;
}

#ergebnis {
   
    background-color: #f5f5f5;
    border: 1px solid #bbb;
    border-radius: 4px;
    min-height: 1.2;
}

.notunderlined{
    text-decoration: none;
}


/* Mediaqueries*/

@media (max-width: 799px) {
    body {
        padding: var(--space-sm);
        
}

@media (min-width: 800px) {
    body {
        padding: var(--space-md);
        
    }
}

@media (min-width: 1200px) {
    body {
        padding: var(--space-lg);
        

    }
}
