/* Reset */

*{
    margin: 0;
    padding: 20;
    box-sizing: border-box;     
}   

/* Typografie */

body {
    
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;

    font-family: Georgia, serif;
    line-height: 1.7;

    color: #222;
    background: #fafaf8;
}

/* Links */

a {

    color: #355c7d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Bilder */

img {
    max-width: 100%;
    Height:auto;
}

/* Trennlinien */

hr {
    margin: 2rem 0;
    border: none;
    border-top: 1px solid #ddd;
}



