body{
    background-color: #70a9b5;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    padding: 0;
}

nav a {
    text-decoration: none;
}

.notunderlined{
    text-decoration: none;
}
