<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>{{ .Title}} - {{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">

</head>

<body>
    <header>
        <h1><a class = "notunderlined" href="{{ "/" | relURL }}">{{ .Site.Title }}</a></h1>
    </header>
    <main>
        {{ block "main" . }}{{ end }}
    </main>     
    <footer>
        <p>&copy; {{ now.Format "2006" }} {{ .Site.Title }}</p>
    </footer>
</body>

</html>